

    <p><b>Fab Challenge</b> <i>~Top performer award~</i></p>
    <p>
      The team from our college has received the Top Performer Award <br>
      in the Fab Challenge 2019-20, conducted by Kerala Startup <br>
      Mission and Fab Lab Kerala . The winning idea was an automated <br>
      beach cleaning robot equipped with ML. The brains behind this <br>
      creation are Aswin Kumar K, Atul Nair, Arjun Shankar S, Cherian <br>
      Francis, Hanna Eldhose, Sebin Wilson and Joel James led by Dr <br>
      Ajay James.
    </p>

    <hr />
 
    <b>Nursing Robots and Electric Carts <br>for CTLC Thrissur</b><br />
    <p>
      Our team from Ideator and FABLAB, under the guidance of Dr <br>
      Ajay James ,has developed six nursing robots and a food delivery <br>
       cart for Kerala's largest CFLTC at Naattika, Thrissur.<br>
        The robots are named RoNS( Robotic Nursing Staff). It is fully<br>
         automated and it can monitor all the patients in a hall. It notes<br>
         the temperature, blood pressure and the oxygen level of the <br>
          patient.Though the doctors aren't physically present, they can <br>
          always monitor the patient via the cameras in the robots. The <br>
           patients can talk to the doctors or nurses via video calling option <br>
            in the robot. <br>
            The electric food delivery cart can provide food to almost 1500 patients . <br>
            The project was funded by NABARD (National Bank for Agricultural and Rural <br>
            Development) and the project is sanctioned to NHM Thrissur. This will be utilised <br>
             in Kerala's biggest CFLTC in Naattikka, which was inaugurated by our <br>
             honourable Chief Minister of Kerala.
    </p>

    <hr />
    <b>Recognition for our TBI from MSME</b><br />
    <p>
      The Ministry Of Micro Small & Medium Enterprises recognized our <br>
      college as a host institute to set up/ establish business incubator <br>
       under the scheme "Support for Entrepreneurial and Managerial <br>
        Development of MSMEs through Incubator". The Technology <br>
         Business Incubator of Government engineering college Thrissur is <br>
          the first among engineering colleges in Kerala to achieve this <br>
           milestone. As an HI under MSME, Govt. of India, our college will <br>
            receive a total funding of Rs. 3 Crores to support entrepreneurial <br>
             activities. A grant aid upto Rs. 15 lakhs per idea will be provided.
    </p>
    <hr />
