   <div class="iedcText">
      <p class="iedc" style="font-size: 30px">
       <b> IEDC</b> <span style="color: #cf0000" font-weight="none"> GECT </span>
      </p>
    </div>
    <div class="textUp">
       
      <a class="uptext" href="#"></i> Back to Top</a>
      <a href="#">
      <i class="fa fa-arrow-up"></i>
    </a>
      
    </div>
  </div>
