<div class="heading">
    <a href="#">
        <i class="fa fa-arrow-left" style=" top: -139px; left: 125px;"></i>
      </a>
    <a class="backText" href="#"> Back to Home</a>
    <br>
    <p class="iedcHeading">Achievements</span></p>
  
</div>