<div class="heading">
    <a href="home.html">  
    <img class="backImage" src="/images/arrow.png"> </a>
    <a class="backText" href="home.html"> Back to Home</a>
    <br>
    <p class="iedcHeading">Achievements</span></p>
  
</div>