<div class="heading">
    <a href="home.html">
        <img class="logo" src="/images/logo.png"> </a>
    <p class="iedcHeading">Innovation <span font-weight=none; style=color:#7d7d7d;>and</span> Entrepreunership<br>
        Development Center</p>
</div>