<!--
      
      <h1>Home Page</h1>
      <% home.data.forEach(function(obj) { %>
      <li>
        <strong><%= obj.name %></strong>
        description =<%= obj.description %>, Event type= <%= obj.eventType %>,Image= <%= obj.photo %>
      </li>
      <% }); %>
      -->

<div class="sliderObj">
    < </div>