<div class="container">
    <a href="home.html">
        <img class="logo" src="/images/logo.png"> </a>
    <!--<a class="backText" href="home.html"> Back to Home</a>-->

    <p class="iedcHeading">Innovation <span font-weight=none; style=color:#7d7d7d;>and</span> Entrepreunership<br>
        Development Center</p>

</div>

<!--<span style=color:#CF0000;
            font-weight=none> GECT</span>-->