.content{
    padding-top: 0px;
    padding-left: 3px;
    position: absolute;
    top: 221px;
    text-align: left;
    letter-spacing: 0.1px;
    opacity: 1.2;
    font-family: 'Roboto';
    font-size: 26px;
    color: rgb(114, 115, 126);
  }

  .content b{
    font-size: 46px;
    color: #cf0000;
  }

