.heading{
    position: relative;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6em 5em;

}

.iedcHeading{
    position: relative;
    font-family:'Montserrat' ;
    font-size: 52px;
    color:  #7d7d7d;
    opacity: 1;
    font-weight: regular;

}




@media screen and (max-width:480px){
    .heading{
        display:flex;
        flex-direction: row;
        width: 100%;
    }
    .iedcHeading{
        font-size: 22px; 
        font-weight: bold; 
    }
    .logo{
        height: auto;
        width: 150px;
    }
}