<nav class="white" style="padding: 0px 10px; position: fixed; z-index:1000; top:0px; bottom:10px">
  <div class="nav-wrapper">
    <%- include('./navbarLogo') %>
    <%- include('./navbarOptions') %>
  </div>
</nav>