.heading{
    position: absolute;
    padding-top: 135px;
    background: #ffffff;
    width: 100%;
    height: 231px;
}

.backText{
    position: absolute;
    top: -7px;
    left: 146px;
    font-family: 'Roboto';
    font-weight: regular;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
  
.backImage{
    padding-left: -17px;
    position: absolute;
    top: -4px;
    left: 115px;
}

.iedcHeading{
    position: absolute;
    font-size: 69px;
    left: 472px;
    top: -95px;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    font-family: 'Axiforma';
    font-weight: medium;
    font-size: 59px;
    color: #7d7d7d;
}

i {
    line-height: inherit;
    font-size: 20px;
    position: relative;
    top: -5px;
}

.footer{
    padding-left: 129px;
    padding-top: 1712px;
    top: 1225px;
    color:#616161
    
}

.iedcfooter{
    padding-top: 136px;
}

.uptext{
    position: absolute;
    padding-top: 1px;
    /* padding-top: 1688px; */
    top: 1890px;
    left: 870px;
    font-family: 'Axiforma';
    color: #7d7d7d;
    font-size: 22px;
}
.fa{
    position: relative;
    left: 719px;
    top: -61px;
    font-size: 20px; 
    opacity: 70%; 
    color: #707070
    
}

.contentFrame1{
    background-color: #f9f9f9;
    padding-left: 116px;
    width: 112%;
    margin-left: 95px;
    border: 1px solid #00000029;
    
    

}

.contentFrame2{
    padding-left: 116px;
    width: 112%;
    margin-left: 95px;
   
}

.text{
    position: relative;
    right: 87px;
}
