<p>Encouraging innovations and developing the inventive 
    <br> skills of students has always been the motto of the 
    <br> Innovation and Entrepreneurship Development Centre 
    <br> (IEDC) of Government Engineering College Thrissur. IEDC 
    <br> is an initiative by the 
    <span style= color:#CF0000; font-weight=none>Kerala Startup Mission (KSUM)</span> to 
    <br> build an entrepreneurial ecosystem inside the campus.
    <br> Various activities and events that aid the students to 
    <br> develop their technological edge and creative mind are 
    <br>being conducted every year. IEDC facilitates and supports 
    <br>the ideas of students. Be it technological or financial aid, 
    <br>the centre helps students to develop their dream ideas. 
    <br>
</p>