.heading{
    position: absolute;
    top: 67px;
    background: #ffffff;
    width: 100%;
    height: 231px;
}

.backText{
    position: absolute;
    top: 49px;
    left: 26px;
    font-family: 'Axiforma';
    font-weight: light;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
  
.backImage{
    padding-left: -17px;
    padding-top: 51px;
}

.iedcHeading{
    position: absolute;
    font-size: 69px;
    left: 24px;
    top: 43px;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    font-family: 'Axiforma';
    font-weight: bold;
    font-size: 70px;
    color: #7d7d7d;
}

hr {
    position: absolute;
    top: 293px;
    left: -90px;
    border:none;
    height: 20px;
    width: 85%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #707070;
    margin: -50px auto 10px; 
}