.box {
    display: flex;
    padding-top: 125px;
    margin-left: -28px;
}
  
.b1{   
    border-radius: 21px;
    border: 1px solid #707071;
    padding: 20px;
    width: 339px;
    height: 406px;
    margin-right: 80px;
}
    
.b2{
    margin-right: 80px;   
    border-radius: 21px;
    border: 1px solid #707071;
    padding: 20px;
    width: 339px;
    height: 406px;
    margin-right: 80px;
}
  
.b3{  
    border-radius: 21px;
    border: 1px solid #707071;
    padding: 20px;
    width: 339px;
    height: 406px;
    margin-right: 80px;
}
  
